<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumbotron Template</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        /* Custom styles for this template */
        .jumbotron {
            background-color: #f8f9fa;
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            border-radius: 0.5rem;
        }

        .jumbotron .card {
            border: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            
        }

        .jumbotron .card-img-top {
            border-radius: 0.5rem;
            
        }

        .jumbotron p {
            margin-top: 1rem;
        }

        body{
            background-image:linear-gradient(to left,brown, white);
        }
    </style>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <%= image_tag "pada.JPG", class: "card-img-top", alt: "Image" %>
                    <div class="card-body">
                        <h5 class="card-title">Padawan Membership</h5>
                        <p class="card-text"> Our second tier, the Padawan Membership, is available for FREE. Welcome
                        to the beginning of your galactic journey!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Padawan Perks</h1>
                <ul>
                 <li>
                    <p> Membership Card</p>
                    </li>
                <li>
                <p> Access to Personalized Quizzes (Coming Soon)</p>
                </li>
                <li>
                 <p> Community Forum (Coming Soon)</p>
                 </li>
                 </ul>


            </div>
        </div>
    </div>
</div>



</body>
</html>